body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.center {
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.center_button {
  line-height: 1.5;
  width: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  height: 40px;
  margin-bottom: 10px;
}

a {
  color: #00B7FF;
}

.content-box-constrained {
  width: 100%;
  max-width: 25%;
  padding: 15px;
  margin: auto;
  background-color: lightsteelblue;
  border-radius: 15px;
}

.content-box {
  width: 100%;
  padding: 15px;
  margin: auto;
  background-color: lightsteelblue;
  border-radius: 15px;
}

.nested_content-box {
  flex-basis: 100%;
  width: 100%;
  padding: 15px;
  margin: auto;
  background-color: lightslategrey;
  border-radius: 15px;
}

.nested_content_user-box {
  flex-basis: 100%;
  padding: 15px;
  margin: 10px;
  background-color: lightgreen;
  border-radius: 15px;
}

.nested_content_host-box {
  flex-basis: 100%;
  padding: 15px;
  margin: 10px;
  background-color: lightpink;
  border-radius: 15px;
}

.content-box .content-floating:focus-within {
  z-index: 2;
}

.interaction_header {
  max-height: 25%;
  height: auto;
}