body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.center {
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.center_button {
  line-height: 1.5;
  width: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  height: 40px;
  margin-bottom: 10px;
}

a {
  color: #00B7FF;
}

p {
  color: white;
  font-size: 1.1em;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

h6 {
  color: white;
}

.kc-modal {

}

.kc-moda h1 {
  color: black;
}
.kc-modal h2 {
  color: black;
}
.kc-modal h3 {
  color: black;
}
.kc-modal h4 {
  color: black;
}
.kc-modal h5 {
  color: black;
}

.kc-modal h6 {
  color: black;
}

.kc-modal p {
  color: black;
}

.content-box-constrained {
  width: 100%;
  max-width: 33%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: auto;
  background-color: #006eff;
  border-radius: 1.5em;
}

.content-box-profile {
  width: 100%;
  max-width: 85%;
  padding: 1.5em;
  margin: auto;
  background-color: #006eff;
  border-radius: 15px;
}

.content-box-profile h1 {
  color: white;
  font-weight: bold;
  font-size: 3em;
}

.content-box {
  width: 100%;
  padding: 15px;
  margin: auto;
  background-color: #006eff;
  border-radius: 15px;
}

.nested_content-box {
  flex-basis: 100%;
  width: 100%;
  padding: 15px;
  margin: auto;
}

.nested_content_usercomment-box {
  flex-basis: 100%;
  padding: 15px;
  margin: 10px;
  background-color: lightgreen;
  border-radius: 15px;
}

.nested_toilet_subview-box {
  background-color: white;
  padding-top: 100%;
  max-width: 30%;
  flex-basis: 100%;
  padding: 15px;
  margin: 10px;
}


.nested_content_host-box {
  flex-basis: 100%;
}

.nested_content_comment-box {
  flex-basis: 100%;
  padding: 15px;
  margin: 10px;
  background-color: white;
  border-radius: 0.2em;
  color: #006eff;
}

.nested_content_comment-box h1 {
  color: #006eff;
}

.nested_content_comment-box h2 {
  color: #006eff;
}

.nested_contenttcomment-box h3 {
  color: #006eff;
}

.nested_content_comment-box h4 {
  color: #006eff;
}

.nested_content_comment-box h5 {
  color: #006eff;
}

.nested_content_comment-box h6 {
  color: #006eff;
}

.nested_content_comment-box p {
  color: #006eff;
}

.nested_content_comment-box-respondee {
  color: black;
  background-color: rgb(172, 250, 226);
}

.nested_content_comment-box-respondee h1 {
  color: black;
}

.nested_content_comment-box-respondee h2 {
  color: black;
}

.nested_contenttcomment-box-respondee h3 {
  color: black;
}

.nested_content_comment-box-respondee h4 {
  color: black;
}

.nested_content_comment-box-respondee h5 {
  color: black;
}

.nested_content_comment-box-respondee h6 {
  color: black;
}

.nested_content_comment-box-respondee p {
  color: black;
}

.content-box .content-floating:focus-within {
  z-index: 2;
}

.interaction_header {
  max-height: 25%;
  height: auto;
}

.main_logo_welcome {
  margin-top: 1em;
  margin-bottom: 2em;
}

.kc-btn {
  background-color: #0042adff;
  color: #f2f2f2ff;
}

.kc-btn:hover {
  background-color: #ffffffff;
  color: #006eff;
}

.kc-btn-round {
  border-radius: 100%;
}

.content-box-constrained-short {
  padding-left: 15%;
  padding-right: 15%;
}

.kc-alert {
  background-color: #f7e2acff;
  border-radius: 0.2em;
  padding: 1em 1em 1em 3em;
  display: flex;
  flex-direction: row;
}

.kc-alert * {
  color: black;
  vertical-align: middle;
  align-items: center;
  min-height: 100%;
}

.kc-alert-item-last {
}

img.kc-alert-item-last {
}

.kc-alert-item {
  margin-right: 3em;  
}

img.kc-alert-item {
  height: 5em;
}

.logo-container-left {
  max-width: 30em;
}

/* .logo-container-left * {
  height: 5em;
} */

.kc-icon-btn img {
  height: 3em;
  margin: 0.5em;
}

.header-flexbox {
  display: flex;
  flex-direction: row;
}

.header-flexbox div {
  margin: 1em;
}

.nested_toilet_subview-box-hl {
/*   background-color: white;
  color:#006eff; */
}

.pfp-img-main {
  max-height: 14em;
  max-width: 14em;
}

.edit-icon {
  height: 3em;
  color: white;
}