<div class="kc-alert mb-3" role="alert">
<img class="kc-alert-item" src="/images/ui/kolo_exclamation.svg" alt="exclamation_mark">
<span class="kc-alert-item-last">
    <p><%= message %></p>
</span>
</div>