<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class = "center">
      <h1>KOLO CHANEL</h1>
    </div>
    
    <div class="center">
      <p>Portal anonsów sanitarnych</p>
    </div>
  
    <div class="center">
      <button class="center_button" type="button">Załóż konto</button>
      <br> 
      <button class="center_button" type="button">Zaloguj</button> 
    </div>
  
  </body>
</html>
