<% if(identity == "host") { %>
  <% var comment_id = interaction.host_comment_reference %> 
  <% var response_id = interaction.client_response_reference %> 
<% } else { %>
  <% var comment_id = interaction.client_comment_reference %> 
  <% var response_id = interaction.host_response_reference %> 
<% } %>

<div class="d-flex flex-column bd-highlight mb-3">
  <!-- profile picture and metadata -->
  <div class="p-2 bd-highlight">
    <div class="d-flex flex-row bd-highlight mb-3">
      <img class="p-2 bd-highlight img-responsive" src="/images/test_pfp.jpg" style="max-width: 15%;">
      <div class="position-relative translate-middle badge rounded-pill bg-secondary" style="height: 10%;">⭐⭐⭐⭐⭐</div>
      <p class="p-2 bd-highlight" style="width: 100%; align-self: end;">Użytkownik <%= primary_username %> skomentował:</p>
    </div>
  </div>

  <!-- comment body -->
  <% if(comment_id != "None") { %>
    <div class="p-2 bd-highlight">
      <%= comment_map[comment_id].content %> 
    </div>

    <!-- response body -->
    <% if(identity == "host") { %>
      <div class="nested_content_user-box">
    <% } else { %>
      <div class="nested_content_host-box">  
    <% } %>
    <p>Użytkownik <%= responder_username %> odpowiedział:</p>
    <%= comment_map[response_id].content %>
    </div>
  <% } %>
</div>