<!DOCTYPE html>
<html>
  <head>
    <title>KOLO CHANEL</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="center">
      <h1>KOLO CHANEL</h1>
    </div>
    
    <div class="center">
      <p>Portal anonsów sanitarnych</p>
    </div>
  
    <div class="center">
      <form action="register_user">
        <label for="username_input">Nazwa użytkownika:</label><br>
        <input id="username_input" type="text" name="username"><br>
        <label for="email_input">E-mail:</label><br>
        <input id="email_input" type="text" name="email"><br>
        <label for="pwd_input">Hasło:</label><br>
        <input id="pwd_input" type="password" name="pwd"><br><br>
        <input type="submit" value="Register">
      </form>
    </div>
  
  </body>
</html>
