<div class="d-flex justify-content-evenly flex-row mb-1">
<% for(var i=0; i < 10; i+=2) { %>
  <% if(rating*2 > (i+1)) { %>
    <img src="/images/icons/star-fill.svg" class="p-1 img-responsive" style="width: 20%; height: 20%">
  <% } else if(rating*2 < (1+i)) { %>
    <img src="/images/icons/star.svg" class="p-1 img-responsive" style="width: 20%; height: 20%">
  <% } else { %>
    <img src="/images/icons/star-half.svg" class="p-1 img-responsive" style="width: 20%; height: 20%">
  <% } %>
<% } %>
</div>