<% if(tref == "None") { %>

<% } else { %>
    <p class="p-2"><%= tref.toiletname %></p>
    <div class="d-flex flex-row bd-highlight mb-3" style="flex-wrap:wrap">
    <img class="p-1 img-responsive" src="/images/pfp_toitoi.jpg" style="width: 30%;">
    <img class="p-1 img-responsive" src="/images/pfp_toitoi.jpg" style="width: 30%;">
    </div>
<% } %>
